:root {
   --white:#F5F0F6;
   --black:#1C1D20;
   --gray:#DCDCDC;
   --blue:#2AB7CA;
   --dblue:#00487C;
   --rasp:#9E0031;
   --orange:#FAA916;
   --purp:#662AAF;
   --mar:#330036;
   --gold: #FFC700;
}
.menubutton{
   background-color: var(--white);
   outline: none;
   border: 2px solid var(--black);
   font-size: 1.5vh;
   border-radius: 0.4vh;
}
#log{
   background-color: var(--white);
   outline: none;
   border: 1px solid var(--gold);
   font-size: 1.5vh;
   border-radius: 0.4vh;
}
#roll{
   background-color: var(--white);
   outline: none;
   border: 1px solid var(--gold);
   font-size: 2vh;
   border-radius: 0.4vh;
}
#rollInp{
   background-color: var(--white);
   outline: none;
   border: 1px solid var(--gold);
}
